<!-- START HEADER -->
<header id="header" class="page-topbar">
  <!-- start header nav-->
  <div class="navbar-fixed">
    <nav class="navbar-color">
      <div class="nav-wrapper">
        <div class="center-align">
          <!-- <a (click)="view_notification();" class=" right-align notification-button">
            <i class="fa fa-bell ">
              <small class="notification-badge">{{read}}</small>
            </i>
          </a> -->
        </div>
        <!-- notifications-dropdown -->
        <!-- <ul id="notifications-dropdown" class="dropdown-content">
          <li>
            <h6>NOTIFICATIONS
            </h6>
          </li>
          <li class="divider"></li>
          <ng-container *ngFor="let n of notification">
            <li *ngIf=" n.read == false" (click)="view(n.event_id, n._id);">
              <a href="javascript:void(0);" class="grey-text text-darken-2">
                <i class="fa fa-long-arrow-down fa-fw"></i>
                {{n.title}}
              </a>
            </li>
          </ng-container>
          <li class="divider"></li>
          <li [routerLink]="['/notificaiton']">
            <h6>view All
            </h6>
          </li>
        </ul> -->
      </div>
    </nav>
  </div>
</header>
<!-- END HEADER -->

<!-- START MAIN -->
<!-- START LEFT SIDEBAR NAV-->
<aside id="left-sidebar-nav" class="nav-expanded nav-lock nav-collapsible">
  <div class="brand-sidebar back_white">
    <h1 class="logo-wrapper">
      <a href="index.html" class="logo-width darken-1">
        <img src="../../assets/images/wediina-logo.png" alt="materialize logo">
        <!-- <span class="logo-text hide-on-med-and-down">JasmaTech</span> -->
      </a>
      <a href="javascript:void(0);" class="navbar-toggler">
        <i class="material-icons">radio_button_checked</i>
      </a>
    </h1>
  </div>
  <ul id="slide-out" class="side-nav fixed leftside-navigation">
    <div class="row user-detail-logo ">
      <div class="col s4 l4 m4 center-align">
        <i class="fa fa-3x fa-user"></i>
      </div>
      <div class="col s8 l8 m8 nav-text">
        <div> {{name}}</div>
        <div class="f-s-10">{{email}}</div>
      </div>
      <div class="update_profile">
        <button data-target="singleimg" class="modal-trigger b-radius-40" data-target="get_profile">
          <i class="fa fa-pencil-alt orange-text" title="Profile"></i>
        </button> &nbsp;&nbsp;&nbsp;
        <button data-target="otherimg" class="modal-trigger b-radius-40" data-target="get_pwd">
          <i class="fa fa-external-link-alt orange-text" title="Password"></i>
        </button> &nbsp;&nbsp;&nbsp;
      </div>
    </div>
    <!-- <div class="divider"></div> -->
    <li class="no-padding">
      <ul class="collapsible">

        <li class="bold" [routerLinkActive]="['collapsible-header:active']" [routerLink]="['/dashboard']">
          <div class="collapsible-header  waves-effect ">
            <i class="fa fa-home"></i>
            <span class="nav-text">Dashboard</span>
          </div>
        </li>
        <li  class="bold" [routerLink]="['/VenueCategory']">
          <div class="collapsible-header  waves-effect">
            <i class="fa fa-sitemap"></i>
            <span class="nav-text">Venues Category</span>
          </div>
        </li>
        <li  class="bold" [routerLink]="['/VendorCategory']">
          <div class="collapsible-header  waves-effect">
            <i class="fa fa-sitemap"></i>
            <span class="nav-text">Vendor Cateory</span>
          </div>
        </li>

        <li  class="bold" [routerLink]="['/venues']">
          <div class="collapsible-header  waves-effect">
            <i class="fa fa-users"></i>
            <span class="nav-text">Venues</span>
          </div>
        </li>
        <li  class="bold" [routerLink]="['/Vendors']">
          <div class="collapsible-header  waves-effect">
            <i class="fa fa-users"></i>
            <span class="nav-text">Vendors</span>
          </div>
        </li>
        
        <li  class="bold" [routerLink]="['/Customer']">
          <div class="collapsible-header  waves-effect">
            <i class="fa fa-users"></i>
            <span class="nav-text">Customer Detail</span>
          </div>
        </li>
        <li  class="bold" [routerLink]="['/Control']">
          <div class="collapsible-header  waves-effect">
            <i class="fa fa-cog"></i>
            <span class="nav-text">Control</span>
          </div>
        </li>
        

        <!-- <li class="no-padding">
          <ul class="collapsible">
            <li class="bold">
              <div class="collapsible-header  waves-effect" data-collapsible="accordion">
                <i class="fa fa-boxes"></i>
                <span class="nav-text">
                  <i class="fa fa-angle-down" style="font-size: 16px;
                  text-align: right;
                  margin-left: 40px;"></i>
                </span>
              </div>
              <div class="collapsible-body">
                <ul class="collapsible" data-collapsible="accordion">
                  <li  class="bold" [routerLink]="['/inventory']">
                    <div class="collapsible-header  p-l-15 waves-effect">
                      <i class="fa fa-boxes"></i>
                      <span class="nav-text">Product</span>
                    </div>
                  </li>
                  <li  class="bold" [routerLink]="['/brand']">
                    <div class="collapsible-header p-l-15  waves-effect">
                      <i class="fa fa-boxes"></i>
                      <span class="nav-text">Brand</span>
                    </div>
                  </li>
                  <li  class="bold" [routerLink]="['/category']">
                    <div class="collapsible-header p-l-15 waves-effect">
                      <i class="fa fa-boxes"></i>
                      <span class="nav-text">Category</span>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </li> -->
        
      </ul>
    </li>
    <div class="center-align">
      <button class="logout-btn nav-text" (click)="logout()">Logout</button>
    </div>

  </ul>
  <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only gradient-45deg-light-blue-cyan gradient-shadow">
    <i class="material-icons">menu</i>
  </a>
</aside>
<!-- END LEFT SIDEBAR NAV-->


<div id="get_profile" class="modal">
  <div class="modal-content">
    <div class="col s12">
      <h5> Profile Details</h5>
    </div>
    <div class="col s12">
      <form #frm2="ngForm" >
        <div class="col s12 l12 m12  mr-t-20 mr-b-m-30">
          <div class="input-field col s12">
            <b>Name:</b>
            <input #editname="ngModel" id="Name" name="Name" type="text" [(ngModel)]="name" pattern="[a-zA-Z][a-zA-Z ]+" required ngModel
              class="validate">
          </div>
          <div *ngIf="editname?.touched">
            <div class="red-text left" *ngIf="editname.errors?.required">
              Name Required*
            </div>
            <div class="red-text left" *ngIf="editname.errors?.pattern">
              Name is Invalid*
            </div>
          </div>
          <div class="input-field col s12">
            <b>Email:</b>
            <input #editemail="ngModel" id="email" name="email" type="text" [(ngModel)]="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
              required ngModel class="validate">
          </div>
          <div *ngIf="editemail?.touched">
            <div class="red-text left" *ngIf="editemail.errors?.required">
              Email Required*
            </div>
            <div class="red-text left" *ngIf="editemail.errors?.pattern">
              Email is Invalid*
            </div>
          </div>
          <div class="input-field col s12">
            <b>Mobile No.:</b>
            <input #editmno="ngModel" id="mno" name="mobile" type="text" [(ngModel)]="mobile" minlength="10" maxlength="10" pattern="[0-9]+"
              required ngModel class="validate">
          </div>
          <div *ngIf="editmno?.touched">
            <div class="red-text left" *ngIf="editmno.errors?.required">
              Mobile Required*
            </div>
            <div [hidden]="!editmno?.hasError('minlength')" class="red-text">
              Please enter valid Contact No
            </div>
          </div>
          <div class="right-align">
            <button class="btn btn-primary modal-close" [disabled]="frm2.invalid" onclick="Materialize.toast('Profile Updated', 3000)"
              type="submit">Update </button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>

<!-- password modal -->

<div id="get_pwd" class="modal">
  <div class="modal-content">
    <div class="row">
      <div class="col s6 l6 m6">
        <h5> Change Password</h5>
        <div class="green-text right" *ngIf="pwdsucess != null">
          {{pwdsucess}}
        </div>
      </div>
      <div class="col s6 l6 m6">
        <div class="red-text right" *ngIf="pwderror != null">
          {{pwderror}}
        </div>
      </div>
    </div>
    <div class="col s12">
      <form #frm3="ngForm" >
        <div class="col s12 l12 m12  mr-t-20 mr-b-m-30">
          <div class="input-field col s12">
            <b>Current password:</b>
            <input #curpwd="ngModel" id="cpwd" name="cpwd" type="text" [(ngModel)]="cpwd" required ngModel class="validate">
          </div>
          <div *ngIf="curpwd?.touched">
            <div class="red-text left" *ngIf="curpwd.errors?.required">
              Current Password Required*
            </div>
          </div>
          <div class="input-field col s12">
            <b>New password:</b>
            <input #newpwd="ngModel" id="npwd" name="npwd" type="text" [(ngModel)]="npwd" required ngModel class="validate">
          </div>
          <div *ngIf="newpwd?.touched">
            <div class="red-text left" *ngIf="newpwd.errors?.required">
              New Password Required*
            </div>
          </div>
          <div class="input-field col s12">
            <b>Confirm Password :</b>
            <input #copwd="ngModel" id="confirmpwd" name="confirmpwd" type="text" [(ngModel)]="confirmpwd" required ngModel class="validate">
          </div>
          <div *ngIf="copwd?.touched">
            <div class="red-text left" *ngIf="copwd.errors?.required">
              Confirm Required*
            </div>
          </div>
          <div class="right-align">
            <button class="btn btn-primary modal-close">close </button>
            <button class="btn btn-primary" [disabled]="frm3.invalid" onclick="Materialize.toast('Password Updated', 3000)" type="submit">Update </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function () {
    $('.collapsible').collapsible();
  });


</script>