<!-- START HEADER -->
<header id="header" class="page-topbar">
  <!-- start header nav-->
  <div class="navbar-fixed">
    <nav class="navbar-color">
      <div class="nav-wrapper">
        <div class="center-align">
          <a href="javascript:void(0);" class=" right-align notification-button" data-activates="notifications-dropdown">
            <i class="fa fa-bell ">
              <small class="notification-badge">{{read}}</small>
            </i>
          </a>
        </div>
        <!-- notifications-dropdown -->
        <ul id="notifications-dropdown" class="dropdown-content">
          <li>
            <h6>NOTIFICATIONS
            </h6>
          </li>
          <li class="divider"></li>
          <li *ngFor="let n of notification" (click)="view(n.event_id, n._id);">

            <a href="javascript:void(0);" class="grey-text text-darken-2">
              <i class="fa fa-long-arrow-down fa-fw"></i>
              {{n.title}}</a>
          </li>
          <li class="divider"></li>
          <li [routerLink]="['/notificaiton']">
            <h6>view All
            </h6>
          </li>



        </ul>
      </div>
    </nav>
  </div>
</header>
<!-- END HEADER -->

<!-- START MAIN -->
<!-- START LEFT SIDEBAR NAV-->
<aside id="left-sidebar-nav" class="nav-expanded nav-lock nav-collapsible">
  <div class="brand-sidebar dark-grey-back">
    <h1 class="logo-wrapper">
      <a href="index.html" class="brand-logo darken-1">
        <img src="../../assets/images/jasma_logo.png" alt="materialize logo">
        <span class="logo-text hide-on-med-and-down">JasmaTech</span>
      </a>
      <a href="javascript:void(0);" class="navbar-toggler">
        <i class="material-icons">radio_button_checked</i>
      </a>
    </h1>
  </div>
  <ul id="slide-out" class="side-nav fixed leftside-navigation">
    <div class="row user-detail-logo">
      <div class="col s4 l4 m4 center-align">
        <i class="fa fa-3x fa-user"></i>
      </div>
      <div class="col s8 l8 m8 nav-text">
        <div> {{name}}</div>
        <div class="f-s-10">{{email}}</div>
      </div>
    </div>
    <div class="divider"></div>
    <li class="no-padding">
      <ul class="collapsible">

        <li class="bold" [routerLink]="['/dashboard']">
          <div class="collapsible-header  waves-effect">
            <i class="fa fa-home"></i>
            <span class="nav-text">Dashboard</span>
          </div>
        </li>
        <li *ngIf="o_view == true" class="bold" [routerLink]="['/order']">
          <div class="collapsible-header  waves-effect">
            <i class="fa fa-shopping-cart"></i>
            <span class="nav-text">Orders</span>
          </div>
        </li>

        <li class="no-padding">
          <ul class="collapsible">
            <li class="bold">
              <div class="collapsible-header  waves-effect" data-collapsible="accordion">
                <i class="fa fa-boxes"></i>
                <span class="nav-text">Inventory</span>
              </div>
              <div class="collapsible-body">
                <ul class="collapsible" data-collapsible="accordion">
                  <li *ngIf="i_view == true" class="bold" [routerLink]="['/inventory']">
                    <div class="collapsible-header  p-l-15 waves-effect">
                      <i class="fa fa-boxes"></i>
                      <span class="nav-text">Product</span>
                    </div>
                  </li>
                  <li *ngIf="b_view == true" class="bold" [routerLink]="['/brand']">
                    <div class="collapsible-header p-l-15  waves-effect">
                      <i class="fa fa-boxes"></i>
                      <span class="nav-text">Brand</span>
                    </div>
                  </li>
                  <li *ngIf="c_view == true" class="bold" [routerLink]="['/category']">
                    <div class="collapsible-header p-l-15 waves-effect">
                      <i class="fa fa-boxes"></i>
                      <span class="nav-text">Category</span>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </li>


        <li *ngIf="d_view == true" class="bold" [routerLink]="['/stock']">
          <div class="collapsible-header  waves-effect">
            <i class="fa fa-user"></i>
            <span class="nav-text">Stock Management</span>
          </div>
        </li>
        <li *ngIf="d_view == true" class="bold" [routerLink]="['/dealer']">
          <div class="collapsible-header  waves-effect">
            <i class="fa fa-user"></i>
            <span class="nav-text">Dealers</span>
          </div>
        </li>
        <li class="bold" [routerLink]="['/guest']">
          <div class="collapsible-header  waves-effect">
            <i class="fa fa-user-cog"></i>
            <span class="nav-text">Guests</span>
          </div>
        </li>
        <li class="bold" [routerLink]="['/control']">
          <div class="collapsible-header  waves-effect">
            <i class="fa fa-cog"></i>
            <span class="nav-text">Control Panel</span>
          </div>
        </li>
      </ul>
    </li>
    <div class="center-align">
      <button class="logout-btn nav-text" (click)="logout()">Logout</button>
    </div>

  </ul>
  <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only gradient-45deg-light-blue-cyan gradient-shadow">
    <i class="material-icons">menu</i>
  </a>
</aside>
<!-- END LEFT SIDEBAR NAV-->


<script>
  document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function () {
    $('.collapsible').collapsible();
  });


</script>