<div id="main">
  <!-- START WRAPPER -->
  <div class="wrapper">
    <app-header></app-header>

    <section id="content" class="mr-t-20">
      <!--start container-->
      <div class="container">
        <div class="section">
          <!--card stats start-->
          <div id="card-stats">
            <div class="row">
              <div class="col s6 l6 m6">
                <div class="col s2 l2 m2 headding-icon dark-blue-back">
                  <i class="fa fa-boxes"></i>
                </div>
                <div class="hedding-text p-l-80">
                  Product View
                </div>
              </div>
              <div class="col s6 l6 m6 right-align">
                <button [routerLink]="['/editproduct',id]" class="hedding-btn-2">Edit </button>
              </div>

            </div>
          </div>
          <!--card stats end-->

          <!--DataTables example Row grouping-->
          <div class="section">
            <div class="row ">
              <div class="col s12 card mr-t-50">
                <div class="col s12 m12 l6">
                  <table id="" class="display mr-t-20 striped" cellspacing="0" width="100%">
                    <tbody>
                      <tr>
                        <th>Name:</th>
                        <td>{{name}}</td>
                      </tr>
                      <tr>
                        <th>Category:</th>
                        <td>{{cat_name}}</td>
                      </tr>
                      <tr>
                        <th>desc</th>
                        <td>{{desc}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col s12 m12 l6 model-style ">
                  <div>Model Info:</div>
                  <ng-container>
                    <table id="" class="display mr-t-20 striped" cellspacing="0" width="100%">
                      <thead class="model-head">
                        <ng-container *ngFor="let keyarray of key_array">
                          <th>{{keyarray}}</th>
                        </ng-container>
                      </thead>
                      <tbody>
                        <!-- <ng-container *ngFor="let keyarray of key_array"> -->
                        <tr *ngFor="let row of finalvalue">
                          <td *ngFor="let col of row ">{{col}}</td>
                        </tr>
                        <!-- </ng-container> -->

                      </tbody>
                    </table>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>