
  <!-- START WRAPPER -->
  <div class="wrapper">
    <div class="row center-align">
      <div class="col s12 m4 l4"></div>
      <div class="col s3 mr-p-t-4">
            <div id="login-page" class="row">
                  <form class="login-form z-depth-4 card-panel" (ngSubmit)="userLogin()" enctype="multipart/form-data">
                    <div class="row">
                      <div class="input-field col s12 center">
                        <div class="user-login">
                          <!-- <i class="fa fa-user"></i> -->

                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12 mr-t-20">
                        <i class="material-icons prefix pt-5">person_outline</i>
                        <input id="email" type="text" name="email" [(ngModel)]="email">
                        <label for="email" class="center-align">Email ID</label>
                      </div>
                    </div>
                    <div class="row margin">
                      <div class="input-field col s12 margin">
                        <i class="material-icons prefix pt-5">lock_outline</i>
                        <input id="pwd" type="password" name="pwd" [(ngModel)]="pwd">
                        <label for="pwd">Password</label>
                      </div>
                    </div>

                    <div class="row center-align">
                      <div class="input-field col s12">
                      <button type="submit" class="login-btn">Login</button>  
                     </div>
                     <div class="input-field col s12">
                        <button class="forget-btn">Forget Password</button>  
                     </div>
                    </div>
                  </form>
              </div>
      </div>
    <div class="col s12 m12 l5 xl5 mr-p-t-20">
      <img src="../../assets/images/login_page.png" width="300" />
    </div>
    <div class="col s12 m4 l4"></div> 
      
    </div>
  </div>
