body{
	font-family: 'Montserrat', sans-serif;
	background-color: #f0f0f0;
}

.mr-t-2{
	margin-top: 2%;
}
a{
	cursor: pointer;
}
.nav-expanded .brand-sidebar{
	background-color: #fff !important;

}
.logo-wrapper{
	padding: 0 !important;
}
.cart_tot{
	background-color: #28669b;
    padding: 16%;
    border-radius: 50px;
    color: #fff;
    font-weight: 800;
}
.border-bottom {
	border-bottom: 1px solid #4d4d4d;
	margin-bottom: 20px;
}
 .dealer-checked{
	display: block;
	position: absolute;
	border: 5px solid #AAAAAA;
	border-radius: 100%;
	height: 25px;
	width: 25px;
	top: 30px;
	left: 20px;
	  z-index: 5;
	  transition: border .25s linear;
	  -webkit-transition: border .25s linear;
 }
 input[type=radio]{
	position: absolute;
	visibility: hidden;
  }

input[type=radio]:checked ~ .dealer-checked{
	border: 5px solid #28669b;
	
}

input[type=radio]:checked ~ .dealer-checked::before{
	background: #28669b;
  }
  input[type=radio] ~ label{
font-size: 18px;
  } 
  input[type=radio]:checked ~ label{
	color: #fff;
	background-color: #28669b;
	border-radius: 20px;
	padding: 5%;
	font-size: 18px;
	padding-left:15px; 
	padding-right:15px; 
  }
  .z{
	color: #fff;
	background-color: #28669b;
	border-radius: 20px;
	padding: 5%;
	font-size: 18px;
	padding-left:20px; 
	padding-right:20px; 
  }
/* default radio button style: unchecked */
.overlay {
 display: inline-block;
 position: relative;
 left: -1em; /* or whatever length you need here */
 height: 1em;
 width: 1em;
 background-color: grey;
 border-radius: 50%;
}
/* changed style when checked */
input[type=radio]:checked + .overlay {
 background-color: #007BFF;
}
.f-s-10{
	font-size: 10px;
}
.b-radius-40{
	border-radius: 40px;
}
/* color */

.dark-grey-back{
	background-color:#4d4d4d !important; 
}

.orange-text{
	color:#FBB03B;
}
.blue-text{
	color: #3FA9F5;
}
.red-text{
color: #D6303C;
}
.green-text{
	color:#7AC943;
}
.orange-back{
	background-color:#FBB03B;
}
.green-back{
	background-color:#7AC943;
}
.blue-back{
	background-color: #3FA9F5;
}
.red-back{
background-color: #D6303C;
}
.city-view{
	height: 300px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: auto;
}
.btn{

	background-color: #7AC943 !important;
	border-radius: 40px !important;
	margin: 4px 24px !important;
	padding: -5px 15px;
}
.dark-blue-back{
	background-color: #28669b;
	}
	
/* margin */
.mr-t-20{
	margin-top: 20px !important;
}
.mr-rl-m-20{
	margin: 0 -20px;
}
.mr-t-b-10{
	margin: 10px 0px;
}
.mr-p-l-20{
	margin-left: 20% !important;
}
.mr-t-90{
	margin-top: 90px !important;

}
.mr-r-p-8{
	margin-right: 8% !important;
}
.mr-p-t-4{
	margin-top: 4%;
}
.mr-p-t-20{
	margin-top:20%;
}
.mr-b-20{
	margin-bottom: 20px;
}
.mr-t-50{
	margin-top: 50px !important;
}
.mr-b-m-30{
	margin-bottom: -30px;
}
/* padding */
.p-20{
	padding: 20px;
}
.p-l-80{
	padding-left: 80px;
}
.p-t-5{
	padding-top: 5px !important;
}
.p-t-15{
padding-top: 15px !important; 
}
.p-l-15{
	padding-left: 15% !important; 
	}
/* logo */
.logo-layout{
	font-style: italic;


}
.logo-width img{
width: 180px;
padding: 5px;
}
/* border */

.b-r{
	border-right: 1px solid #4d4d4d;
}

.b-b{
	border-bottom: 1px solid #4d4d4d;
}
/* logout */
.logout-btn{
	background-color: #A90329;
	border-radius: 20px;
	margin-top: 20%;
	padding: 2% 15%;
	border: none;
	color:#fff;	
}
.login-btn{
	background-color: #3FA9F5;
	border-radius: 20px;
	/* margin-top: 50%; */
	padding: 4% 15%;
	border: none;
	width: 100%;
	color:#fff;	
}
.forget-btn{
	background-color: #A90329;
	border-radius: 20px;
	/* margin-top: 50%; */
	padding: 4% 15%;
	border: none;
	width: 100%;
	color:#fff;	
}
.logout-btn:hover{
	background-color: #fff;
	color: #28669b;
	transition: .3s ease-out;

}
/* login */

.user-login{
	border-radius: 70px;
    border: 3px solid #3FA9F5;
    width: 98px;
	height: 100px;
	margin-top: -35%;
	margin-left: 28%;	
    /* padding: -5%; */
    color: #fff;
    font-size: 58px;
    text-align: center;
    background: linear-gradient(45deg, #ffffff 1%,#f0f0f0 100%);
}
/* user */
.user-detail-logo{
	padding: 10% 0;
	margin-bottom: -10px;
	background: linear-gradient(to bottom, rgb(40,102,155) 1%,rgb(40,102,155) 34%,rgb(40,102,155) 42%,rgb(40,102,155) 46%,rgb(0,0,0) 100%);
	/* padding-top: 10% !important; */
	color: #fff;
}
.user-detail-logo:hover .update_profile{
	display: block;
	background-color: #000 !important;
	opacity: 0.8;


}
.update_profile{
	position: absolute;
	padding: 35px;
	width: 240px;
	top: -3%;
	text-align: center;
    display: none;
    -webkit-transition:all 2s;
    transition:all 2s;
    
}

/* dashbord card */
.card{
	padding: 17% 0;
}
.card-icon{
	color:#fff;
	width: 100%;
	margin-top: -65px;
    text-align: center;
    border-radius: 4px;
    padding: 9%;
    font-size: 23px; 
}
.card-text-contain{
	
	padding: 0;
    margin: -19% 0px;
}
.card-text{
	color: hsl(208, 59%, 38%);
    font-size: 16px;
}
.card-text-total{
	color: #28669b;
	font-size: 30px;
	font-weight: 500;
}
/* section */
.section-icon{
		color:#fff;
		width: 60px !important;
		margin-top: -20px;
		text-align: center;
		border-radius: 4px;
		padding: 10px !important;
		font-size: 23px; 
}
.section-text{
	color: #28669b;
	margin-top: 15px;
	font-size: 16px;
	font-weight: 800;
}

.hedding-text{
	color: #28669b;
	
	font-size: 16px;
	font-weight: 800;
}

.headding-icon{

	color:#fff;
	width: 60px !important;
	margin-top: -20px;
	text-align: center;
	border-radius: 4px;
	padding: 10px !important;
	font-size: 23px; 

}
.hedding-btn{
	background-color: #7AC943;
	border-radius: 20px;
	border: none;
	margin: 0 20px;
	padding: 5px 15px;
	color: #fff;
}

.hedding-btn-2{
	background-color: #3FA9F5;
	border-radius: 20px;
	border: none;
	margin: 0 20px;
	padding: 5px 15px;
	color: #fff;
}
/* control */
 .city_class{
	font-size: 20px !important;
    font-weight: bold;
    color: rgb(77, 77, 77);
    font-variant: all-petite-caps;
 }
.control-headding{
	color: #28669b;
    font-weight: 600;
    font-size: 18px;
}
.ac_card{
	background-color: #3FA9F5;
	margin-right:40px !important;
	margin-top: 20px !important;
    padding: 10px !important;
    color: #fff;
    border-radius: 380px;
    font-size: 16px;
    font-weight: 600;
}
.ac_t_card{
	background-color: #28669b;
	margin-right:40px !important;
	margin-top: 20px !important;
    padding: 10px !important;
    color: #fff;
    border-radius: 380px;
    font-size: 16px;
    font-weight: 600;
}


.prod_img {
    position: relative;
    text-align: center;
    /* display: inline-block; */
  
}



.prod_img:hover .edit {
    display: block;
	background-color:#000;
	opacity: 0.6;
	
}

.edit {
	position: absolute;
	padding: 35px;
	width: 170px;
	top: 6%;
    display: none;
    -webkit-transition:all 2s;
    transition:all 2s;
    
}
.model-style{
	border: 1px solid #4d4d4d !important;
	margin-top: 20px !important;
	border-radius: 15px !important;
	padding: 15px !important;
	overflow: scroll !important;
}
.model-head{
	background-color: #28669b;
	color:#fff;
}

.edit a {
    color:#007BFF;
}

.close-image{
    display: block;
	color: red;
	border-radius: 5px;
    float:right;
    position:relative;
    top:-10px;
    right: -20px;
    height: 20px;
}

@media (min-width: 1441px) {

	.card-icon{
		color:#fff;
		width: 100%;
		margin-top: -110px;
		text-align: center;
		border-radius: 4px;
		padding: 10%;
		font-size:45px; 
	}
}
