<div id="main">
  <!-- START WRAPPER -->
  <div class="wrapper">
    <app-header></app-header>

    <section id="content" class="mr-t-20">
      <!--start container-->
      <div class="container">
        <div class="section">
          <!--card stats start-->
          <div id="card-stats">
            <div class="row">
              <div class="col s6 l6 m6">
                <div class="col s2 l2 m2 headding-icon dark-blue-back">
                  <i class="fa fa-user"></i>
                </div>
                <div class="hedding-text p-l-80">
                  DEALER MANAGEMENT
                </div>

              </div>
              <div class="col s6 l6 m6 right-align">
                <button *ngIf="d_add == true" data-target="add_dealer" class="hedding-btn-2 modal-trigger">Add Dealer </button>
                <button class="hedding-btn" (click)="printContent('dealer-download')">Download Data </button>
              </div>

            </div>
          </div>
          <!--card stats end-->
          <!--DataTables example Row grouping-->
          <div class="section">
            <div class="row ">
              <div class="col s12 card mr-t-50" id="dealer-download">
                <div class="col s3 right">
                  <input type="text" placeholder="Search" id="search" [(ngModel)]="term">
                </div>

                <table class="display mr-t-20 striped" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>No</th>
                      <th> Dealer Type</th>
                      <th>Name</th>
                      <th>Company</th>
                      <th>Mail ID</th>
                      <th>Cart</th>
                      <th>Contact No.</th>
                      <th>Discount #</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container>
                      <tr *ngFor="let a of account |filter:term; let i=index">
                        <td>{{i+1}}</td>
                        <td>{{a.type}}</td>
                        <td>{{a.name}}</td>
                        <td>{{a.company_name}}</td>
                        <td>
                          <a href="mailto:{{a.email}}">{{a.email}}</a>
                        </td>
                        <!-- <td>{cart}}</td> -->
                        <td>{{a.mobile}}</td>
                        <td>{{a.discount}}</td>
                        <td *ngIf="d_edit == true" data-target="view_dealer" class="modal-trigger" (click)="viewDealer(a._id)">
                          <i class="fa fa-eye blue-text"></i>
                        </td>
                        <td *ngIf="d_delete == true" data-target="edit_dealer" class="modal-trigger" (click)="viewDealer(a._id)">
                          <i class="fa fa-pencil-alt orange-text"></i>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end container-->
    </section>

    <!-- add dealer -->
    <div id="add_dealer" class="modal ">
      <div class="modal-content">
        <div class="col s12">
          <h5>Details</h5>
        </div>
        <div class="col s12">
          <form class="col s12" #frm1="ngForm" (ngSubmit)="addDealer()">
            <div class="row">
              <div class="input-field col s6">
                <input id="name" type="text" [(ngModel)]="name" name="name" #pname="ngModel" pattern="[a-zA-Z][a-zA-Z ]+" required ngModel
                  class="validate">
                <label for="name">Person Name</label>
                <div *ngIf="pname?.touched">
                  <div class="red-text left" *ngIf="pname.errors?.required">
                    Dealer Name Required*
                  </div>
                  <div class="red-text left" *ngIf="pname.errors?.pattern">
                    Dealer Name is Invalid*
                  </div>
                </div>
              </div>
              <div class="input-field col s6">
                <input id="cnm" type="text" class="" [(ngModel)]="cnm" name="cnm" #company="ngModel" pattern="[a-zA-Z][a-zA-Z ]+" required
                  ngModel class="validate">
                <label for="cnm">Company Name</label>
                <div *ngIf="company?.touched">
                  <div class="red-text left" *ngIf="company.errors?.required">
                    Company Name Required*
                  </div>
                  <div class="red-text left" *ngIf="company.errors?.pattern">
                    Company Name is Invalid*
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input id="email" type="text" class="" [(ngModel)]="email" name="email" #mail="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                  required ngModel class="validate">
                <label for="email">Email ID</label>
                <div *ngIf="mail?.touched">
                  <div class="red-text left" *ngIf="mail.errors?.required">
                    Email Required*
                  </div>
                  <div class="red-text left" *ngIf="mail.errors?.pattern">
                    Please Enter valid Email*
                  </div>

                </div>
              </div>
              <div class="input-field col s6">
                <input id="credit-demo" type="text" class="" [(ngModel)]="mno" name="mno" minlength="10" maxlength="10" #mobile="ngModel"
                  pattern="[0-9]+" required ngModel class="validate">
                <label for="credit_demo">Mobile No.</label>
                <div *ngIf="mobile?.touched">
                  <div class="red-text left" *ngIf="mobile.errors?.required">
                    Contact No Required*
                  </div>
                  <div [hidden]="!mobile?.hasError('minlength')" class="red-text">
                    Please enter valid Contact No
                  </div>
                </div>
              </div>
            </div>
            <div class="input-field col s12">
              <div *ngIf="add?.touched">
                <div class="red-text left" *ngIf="add.errors?.required">
                  Address Required*
                </div>
              </div>
              <textarea id="address" type="text" class="materialize-textarea" [(ngModel)]="address" name="address" #add="ngModel" required
                ngModel></textarea>
              <label for="address">Address</label>

            </div>
            <div class="row">
              <div class=" col s6">State :
                <select [(ngModel)]="satateValue" name="satateValue" (change)="onChangeState(satateValue)" >
                  <option disabled>--Select State Name --</option>
                  <option *ngFor="let state of state" [value]="state">{{state}}</option>
                </select>
                <div *ngIf="cityname?.touched">
                  <div class="red-text left" *ngIf="cityname.errors?.required">
                    State Required*
                  </div>
                </div>
              </div>
              <div class=" col s6">CITY :
                <select [(ngModel)]="selectedValue" name="selectedValue">
                  <option disabled>--Select City Name --</option>
                  <option *ngFor="let city of city_value" [value]="city">{{city}}</option>
                </select>
                <!-- <div *ngIf="cityname?.touched">
                  <div class="red-text left" *ngIf="cityname.errors?.required">
                    City Required*
                  </div>
                </div> -->
              </div>
              <div class="input-field col s6">
                <input id="gst" type="text" name="gst" [(ngModel)]="gst" #gstid="ngModel" required ngModel class="validate">
                <label for="gst">GST ID</label>
                <div *ngIf="gstid?.touched">
                  <div class="red-text left" *ngIf="gstid.errors?.required">
                    GST No Required*
                  </div>
                </div>
              </div>
            </div>
            <div class=" row">
              <div class="">
                <h6>TYPE:</h6>
                <div *ngIf="rtype?.touched">
                  <div class="red-text left" *ngIf="roletype.errors?.required">
                    Dealer Type Required*
                  </div>
                </div>
              </div>
              <br />
              <div class="col s3" *ngFor="let a of role">
                <input class="with-gap" type="radio" id="{{a.type}}" value="{{a.type}}" name="type" [(ngModel)]="type" (change)="getRoleValue(a._id)"
                  #rtype="ngModel" required ngModel class="validate" />
                <label for="{{a.type}}">{{a.type}}</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col col s3">
                <b>Discout %</b>
                <input id="disc" type="text" class="" [(ngModel)]="discount" name="discount" #disc="ngModel" pattern="[0-9]+" required ngModel
                  class="validate">
                <div *ngIf="disc?.touched">
                  <div class="red-text left" *ngIf="disc.errors?.required">
                    Discount Required*
                  </div>
                  <div class="red-text left" *ngIf="disc.errors?.pattern">
                    Discount Invalid*
                  </div>
                </div>
              </div>
            </div>

            <div class="divider"></div>
            <br />
            <div class="modal-footer">
              <a class="modal-action modal-close ">CANCEL</a>
              <button class="modal-action  modal-close btn btn-primary" [disabled]="frm1.invalid" onclick="Materialize.toast('Dealer Added', 4000)"
                type="submit">ADD</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- edit dealer -->

    <div id="edit_dealer" class="modal">
      <div class="modal-content">
        <div class="col s12">
          <h5>Details</h5>
        </div>
        <div class="col s12">
          <form class="col s12" #frm2="ngForm" (ngSubmit)="editDealer()">
            <div class="row">
              <div class="input-field col s6">
                <b>Person Name</b>
                <input id="name" type="text" [(ngModel)]="e_name" name="e_name" #enm="ngModel" pattern="[a-zA-Z][a-zA-Z ]+" required ngModel
                  class="validate">
                <div *ngIf="enm?.touched">
                  <div class="red-text left" *ngIf="enm.errors?.required">
                    Dealer Name Required*
                  </div>
                  <div class="red-text left" *ngIf="enm.errors?.pattern">
                    Dealer Name is Invalid*
                  </div>
                </div>
              </div>
              <div class="input-field col s6">
                <b>Company Name</b>
                <input id="cnm" type="text" class="" [(ngModel)]="e_cnm" name="e_cnm" #ecnm="ngModel" pattern="[a-zA-Z][a-zA-Z ]+" required
                  ngModel class="validate">
                <div *ngIf="ecnm?.touched">
                  <div class="red-text left" *ngIf="ecnm.errors?.required">
                    Company Name Required*
                  </div>
                  <div class="red-text left" *ngIf="ecnm.errors?.pattern">
                    Company Name is Invalid*
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <b>Email ID</b>
                <input id="email" type="text" class="" [(ngModel)]="e_email" name="e_email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                  #eemail="ngModel" required ngModel class="validate">
                <div *ngIf="eemail?.touched">
                  <div class="red-text left" *ngIf="eemail.errors?.required">
                    Email Required*
                  </div>
                  <div class="red-text left" *ngIf="mail.errors?.pattern">
                    Please Enter Valid Email*
                  </div>

                </div>
              </div>
              <div class="input-field col s6">
                <b>Mobile No.</b>
                <input id="credit-demo" type="text" class="" [(ngModel)]="e_mno" name="e_mno" minlength="10" maxlength="10" #emno="ngModel"
                  pattern="[0-9]+" required ngModel class="validate">
                <div *ngIf="emno?.touched">
                  <div class="red-text left" *ngIf="emno.errors?.required">
                    Contact No Required*
                  </div>
                  <div [hidden]="!emno?.hasError('minlength')" class="red-text">
                    Please enter valid Contact No
                  </div>
                </div>
              </div>
            </div>
            <div class="row">

              <div class=" col s6">CITY :
                <select [(ngModel)]="editValue" name="editValue" #ecity="ngModel" required ngModel class="validate">
                  <option disabled>--Select City Name --</option>
                  <option *ngFor="let c of city" [value]="c.city">{{c.city}}</option>
                </select>
                <div *ngIf="ecity?.touched">
                  <div class="red-text left" *ngIf="ecity.errors?.required">
                    City Required*
                  </div>
                </div>
              </div>
              <div class="input-field col s6">GST ID:
                <input id="purchase-code" type="text" name="e_gst" [(ngModel)]="e_gst" #gstno="ngModel" required ngModel class="validate">
                <div *ngIf="gstno?.touched">
                  <div class="red-text left" *ngIf="gstno.errors?.required">
                    GST No Required*
                  </div>
                </div>
              </div>
              <div class=" col s12">
                <div class="">
                  <h6>TYPE:</h6>
                  <div *ngIf="edittype?.touched">
                    <div class="red-text left" *ngIf="edittype.errors?.required">
                      Dealer Type Required*
                    </div>
                  </div>
                </div>
                <br />
                <div class="col s3" *ngFor="let a of role;let in=index">
                  <input class="with-gap" type="radio" id="{{a.type}}" value="{{a.type}}" name="e_type" [(ngModel)]="e_type" (change)="getRoleValue(a._id)"
                    #rtype="ngModel" required ngModel class="validate" />
                  <label for="{{a.type}}" id="l{{in}}" (click)="radioChange(a.type,in)">{{a.type}}</label>
                </div>
                <!-- <div class="col s4  " *ngFor="let a of role">
                  <input class="with-gap overlay" type="radio" id="{{a.type}}" value="{{a.type}}" name="e_type" [(ngModel)  ]="e_type" (change)="getRoleValue(a._id)"
                    #edittype="ngModel" required ngModel class="validate" />
                  <label for="{{a.type}}">{{a.type}}</label>
                </div> -->
              </div>
              <div class="input-field col col s3">
                <b>Discout %</b>
                <input id="disc" type="text" class="" [(ngModel)]="e_discount" name="e_discount" #edisc="ngModel" pattern="[0-9]+" required
                  ngModel class="validate">
                <div *ngIf="edisc?.touched">
                  <div class="red-text left" *ngIf="edisc.errors?.required">
                    Discount Required*
                  </div>
                  <div class="red-text left" *ngIf="edisc.errors?.pattern">
                    Discount is Invalid*
                  </div>
                </div>
              </div>
            </div>
            <div class="divider"></div>
            <br />
            <div class="modal-footer">
              <a class="modal-action modal-close ">CANCEL</a>
              <button class="modal-action btn modal-close btn-primary" [disabled]="frm2.invalid" type="submit" onclick="Materialize.toast('Dealer Edit', 4000)">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>



    <!-- view dealer -->
    <div id="view_dealer" class="modal">
      <div class="modal-content">

        <div class="col s12">
          <h5>Details</h5>
        </div>
        <div class="col s12">
          <table class="display mr-t-20 striped" cellspacing="0" width="100%">
            <tbody>
              <tr>
                <th>Name</th>
                <td>{{e_name}}</td>
              </tr>
              <tr>
                <th>Company</th>
                <td>{{e_cnm}}</td>
              </tr>
              <tr>
                <th>Mail ID</th>
                <td>
                  <a href="mailto:{{email}}">{{e_email}}</a>
                </td>
              </tr>
              <tr>
                <th>Contact No.</th>
                <td>{{e_mno}}</td>
              </tr>
              <tr>
                <th>Discount #</th>
                <td>{{e_discount}}</td>

              </tr>
              <tr>
                <th>GST</th>
                <td>{{e_gst}}</td>

              </tr>
              <tr>
                <th>Type</th>
                <td>{{e_type}}</td>
              </tr>
              <tr>
                <th>State</th>
                <td>{{e_state}}</td>
              </tr>
              <tr>
                <th>City</th>
                <td>{{e_city}}</td>
              </tr>




            </tbody>
          </table>

        </div>
      </div>

    </div>
  </div>



  <div id="view_cart" class="modal">
    <div class="modal-content">
      <div class="col s12">
        <h5> Product Details</h5>
      </div>
      <div class="col s12">
        <table id="" class="display mr-t-90 striped" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Name</th>
              <th>Qty</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of product_details">
              <td>{{p.prod_name}}</td>
              <td>{{p.qty}}</td>
              <td>{{p.price}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    // $(document).ready(function () {
    //   function radioChange(id){
    //     // document.getElementById(id).checked = true;
    //     // document.getElementById(id + "l").classList("z");
    // alert(id);
    //   }


  // });





  </script>