<div id="main">
  <!-- START WRAPPER -->
  <div class="wrapper">
    <app-header></app-header>

    <section id="content" class="mr-t-20">
      <!--start container-->
      <div class="container">
        <div class="section">
          <!--card stats start-->
          <div id="card-stats">
            <div class="row">
              <div class="col s6 l6 m6">
                <div class="col s2 l2 m2 headding-icon dark-blue-back">
                  <i class="fa fa-boxes"></i>
                </div>
                <div class="hedding-text p-l-80">
                  Product Add
                </div>
              </div>
            </div>
          </div>
          <!--card stats end-->

          <!--DataTables example Row grouping-->
          <div class="section">
            <div class="row ">
              <div class="col s12 card mr-t-50">
                <form class="col s12 mr-t-b-10" #formRef="ngForm" (ngSubmit)="addProduct()">
                  <div class="col s6 m6 l6">
                    <div class="row">
                      <div class="input-field col s12">
                        <input id="name" type="text" [(ngModel)]="name" name="name" [(ngModel)]="name" #productName="ngModel" pattern="[a-zA-Z][a-zA-Z ]+"
                          required ngModel class="validate">
                        <label for="name">Name</label>
                        <div *ngIf="productName?.touched">
                          <div class="red-text left" *ngIf="productName.errors?.required">
                            Product Name Required*
                          </div>
                          <div class="red-text left" *ngIf="productName.errors?.pattern">
                            Product Name is Invalid*
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12 mr-t-20">
                        <b> Image:</b> &nbsp;&nbsp;
                        <input id="p_img" type="file" (change)="imageUpload($event)" [(ngModel)]="p_img" name="p_img" #pimg="ngModel" accept="png"
                          required ngModel class="validate">
                      </div>

                      <div *ngIf="pimg?.touched">
                        <div class="red-text left" *ngIf="pimg.errors?.required">
                          Product Image Required*
                        </div>
                        <div class="red-text left" *ngIf="pimg.errors?.accept">
                          Please Select PNG file Only.
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12 mr-t-20">
                        <b>Other Image:</b> &nbsp;&nbsp;
                        <input id="img" type="file" multiple="multiple" class="" (change)="otherImageUpload($event)" #oimg="ngModel" accept="png"
                          required ngModel class="validate" [(ngModel)]="o_img" name="o_img">
                      </div>
                      <div *ngIf="oimg?.touched">
                        <div class="red-text left" *ngIf="oimg.errors?.required">
                          Product Image Required*
                        </div>
                        <div class="red-text left" *ngIf="oimg.errors?.accept">
                          Please Select PNG file Only.
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col s12 mr-t-20">
                        Brand:
                        <select [(ngModel)]="brandValue" name="brandValue" (change)="categoryDetail(brandValue)" #brd="ngModel" required ngModel
                          class="validate">
                          <option value="" disabled selected>Select Brand</option>
                          <option *ngFor="let b of brand" [value]="b._id">{{b.name}}</option>
                        </select>
                        <div *ngIf="brd?.touched">
                          <div class="red-text left" *ngIf="brd.errors?.required">
                            Select Category Required*
                          </div>
                        </div>
                      </div>

                      <div class="col s12 mr-t-20">
                        Category:
                        <select [(ngModel)]="catValue" name="catValue" #cat="ngModel" required ngModel class="validate">
                          <option value="" disabled selected>Select Category</option>
                          <option *ngFor="let c of category" value="{{c._id}}">{{c.name}}</option>
                        </select>
                        <div *ngIf="cat?.touched">
                          <div class="red-text left" *ngIf="cat.errors?.required">
                            Select Category Required*
                          </div>
                        </div>
                      </div>

                      <div class="input-field col s12">
                        <textarea id="desc" type="text" class="materialize-textarea" [(ngModel)]="desc" name="desc" ngModel></textarea>
                        <label for="desc">Description</label>
                      </div>
                    </div>
                    <br />
                    <button class="modal-action btn btn-primary" [disabled]="formRef.invalid" onclick="Materialize.toast('Product Added', 4000)"
                      type="submit">ADD PRODUCT</button>
                  </div>

                  <div class="col s6 m6 l6 ">

                    <div class="input-field col s12 p-t-15" *ngFor="let model of modeldata; let i=index">
                      <!-- <input id="model_info" type="text" class="" [(ngModel)]="model_info" name="model_info">
                          <label for="model_info">Model Info</label>
                  -->
                      <div>
                        <b>Model Info: </b>
                      </div>
                      <div class="input-field col s12">
                        <input id="model_no" type="text" [(ngModel)]="modeldata[i].particular" name="particular{{i}}" [(ngModel)]="particular" #mno="ngModel"
                          required ngModel class="validate">
                        <label for="model_no"> particular</label>
                        <div *ngIf="mno?.touched">
                          <div class="red-text left" *ngIf="mno.errors?.required">
                            particular Required*
                          </div>
                        </div>
                      </div>
                      <div class="input-field col s12">
                        <input id="hsn_code" type="text" [(ngModel)]="modeldata[i].hsn_code" name="hsn_code{{i}}" [(ngModel)]="hsn" #hsnno="ngModel"
                          required ngModel class="validate">
                        <label for="hsn_code"> HSN Code</label>
                        <div *ngIf="hsnno?.touched">
                          <div class="red-text left" *ngIf="hsnno.errors?.required">
                            HSN Code Required*
                          </div>
                        </div>
                      </div>

                      <div class="input-field col s12">
                        <input id="igstno" type="text" [(ngModel)]="modeldata[i].igst" name="igst{{i}}" [(ngModel)]="igst" #ino="ngModel" required
                          ngModel class="validate">
                        <label for="igstno"> IGST %</label>
                        <div *ngIf="ino?.touched">
                          <div class="red-text left" *ngIf="ino.errors?.required">
                            IGST Required*
                          </div>
                        </div>
                      </div>
                      <div class="input-field col s12">
                        <input id="cgstno" type="text" [(ngModel)]="modeldata[i].cgst" name="cgst{{i}}" [(ngModel)]="cgst" #cno="ngModel" required
                          ngModel class="validate">
                        <label for="cgstno"> CGST %</label>
                        <div *ngIf="cno?.touched">
                          <div class="red-text left" *ngIf="cno.errors?.required">
                            CGST Required*
                          </div>
                        </div>
                      </div>
                      <div class="input-field col s12">
                        <input id="sgstno" type="text" [(ngModel)]="modeldata[i].sgst" name="sgst{{i}}" [(ngModel)]="sgst" #sno="ngModel" required
                          ngModel class="validate">
                        <label for="sgstno"> SGST %</label>
                        <div *ngIf="sno?.touched">
                          <div class="red-text left" *ngIf="sno.errors?.required">
                            SGST Required*
                          </div>
                        </div>
                      </div>
                      <div class="input-field col s12">
                        <input id="price" type="text" [(ngModel)]="modeldata[i].price" name="price{{i}}" [(ngModel)]="price" #rs="ngModel" pattern="[0-9]+"
                          required ngModel class="validate">
                        <label for="price">Price</label>
                        <div *ngIf="rs?.touched">
                          <div class="red-text left" *ngIf="rs.errors?.required">
                            Price Required*
                          </div>
                          <div class="red-text left" *ngIf="rs.errors?.pattern">
                            Price Input is Invalid*
                          </div>
                        </div>
                      </div>

                      <div class="input-field col s12">
                        <input id="grade" type="text" [(ngModel)]="modeldata[i].grade" name="grade{{i}}" [(ngModel)]="grade" #gr="ngModel" required
                          ngModel class="validate">
                        <label for="grade">Grade</label>
                        <div *ngIf="gr?.touched">
                          <div class="red-text left" *ngIf="gr.errors?.required">
                            Grade Required*
                          </div>
                        </div>
                      </div>
                      <div class="input-field col s12">
                        <input id="size" type="text" [(ngModel)]="modeldata[i].size" name="size{{i}}" [(ngModel)]="size" #sizevalid="ngModel" 
                          required ngModel class="validate">
                        <label for="size">Size</label>
                        <div *ngIf="sizevalid?.touched">
                          <div class="red-text left" *ngIf="sizevalid.errors?.required">
                            Size Required*
                          </div>
                        </div>
                      </div>
                      <div class="input-field col s12">
                        <input id="temp" type="text" class="" [(ngModel)]="modeldata[i].temprature" #temperature="ngModel" required
                          ngModel class="validate" name="temprature{{i}}">
                        <label for="temp">Temperature</label>
                        <div *ngIf="temperature?.touched">
                          <div class="red-text left" *ngIf="temperature.errors?.required">
                            Temperature Required*
                          </div>
                        </div>
                      </div>

                      <div class="input-field col s12">
                        <input id="pressure" type="text" class="" [(ngModel)]="modeldata[i].pressure" name="pressure{{i}}" #pre="ngModel" 
                          required ngModel class="validate">
                        <label for="pressure">Pressure</label>
                        <div *ngIf="pre?.touched">
                          <div class="red-text left" *ngIf="pre.errors?.required">
                            Pressure Required*
                          </div>
                        </div>
                      </div>

                      <div *ngFor="let key of modeldata[i].keyValue; let in=index" class="col s12 m12 l12">
                        <div>
                          <div class="col s6 l6 m6 m-t-20">
                            <input type="text" [(ngModel)]="modeldata[i].keyValue[in].key" name="modeldata{{i}}.keyValue{{in}}.key{{in}}" #key="ngModel"
                              #dynamickey="ngModel" required ngModel class="validate" />
                            <div *ngIf="dynamickey?.touched">
                              <div class="red-text left" *ngIf="dynamickey.errors?.required">
                                Model Key Required*
                              </div>
                            </div>
                          </div>
                          <div class="col s 6 m6 l6">
                            <input type="text" [(ngModel)]="modeldata[i].keyValue[in].value" name="modeldata{{i}}.keyValue{{in}}.value{{in}}" #value="ngModel"
                              #dynamicvalue="ngModel" required ngModel class="validate" />
                            <div *ngIf="dynamicvalue?.touched">
                              <div class="red-text left" *ngIf="dynamicvalue.errors?.required">
                                Model Value Required*
                              </div>
                            </div>
                          </div>
                          <!--<p [hidden]="words2[in].value">Field is required</p> -->
                          <!-- {{formRef.form.word2}}          -->
                        </div>
                        <br />
                      </div>
                      <input type="button" class="hedding-btn-2" [disabled]="!formRef.form.valid" (click)="add(i)" value="Add Field" />

                    </div>

                    <input type="button" class="hedding-btn-2 right mr-t-20" [disabled]="!formRef.form.valid" (click)="addmodel()" value="Add model"
                    />

                  </div>
                </form>

              </div>

            </div>
          </div>
        </div>

      </div>


      <!--end container-->
    </section>