<div id="main">
  <!-- START WRAPPER -->
  <div class="wrapper">
    <app-header></app-header>

    <section id="content" class="mr-t-20">
      <!--start container-->
      <div class="container">
        <div class="section">
          <!--card stats start-->
          <div id="card-stats">
            <div class="row">
              <div class="col s6 l6 m6">
                <div class="col s2 l2 m2 headding-icon dark-blue-back">
                  <i class="fa fa-boxes"></i>
                </div>
                <div class="hedding-text p-l-80">
                  Venue MANAGEMENT
                </div>
              </div>
              <div class="col s6 l6 m6 right-align">
                <button  [routerLink]="['/AddVenue']" class="hedding-btn-2">Add Venue </button>

              </div>

            </div>
          </div>
          <!--card stats end-->

          <!--DataTables example Row grouping-->
          <div class="section">
            <div class="row ">
              <div class="col s12 card mr-t-50" id="product-download">
                  <div class="col s3 right">
                      <input type="text" placeholder="Search" id="search" [(ngModel)]="term">
                    </div>
    
                <table id="" class="display striped mr-t-20" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>No</th> 
                      <th>Image</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Contact No.</th>
                      <th>Package Time (Month)</th>
                      <th colspan="4">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container >
                      <ng-container>

                        <tr *ngFor="let v of venue; let i=index">
                            <td>{{i+1}}</td>
                            <td class="prod_img">
                            <img src="{{v.image}}" class="img-thumbnail border-none  img-fluid" width="80" height="80" />
                            <!-- <div class="edit">
                              <button data-target="singleimg" class="modal-trigger b-radius-40" (click)="getproductById(i._id)">
                                <i class="fa fa-pencil-alt orange-text" title="single images"></i>
                              </button> &nbsp;&nbsp;&nbsp;
                              <button data-target="otherimg" class="modal-trigger b-radius-40" (click)="getproductById(i._id)">
                                <i class="fa fa-external-link-alt orange-text" title="other images"></i>
                              </button> &nbsp;&nbsp;&nbsp;
                            </div> -->
                          </td>
                          <td>{{v.companyName}}</td>
                          <td><a href="mailto:{{v.email}}">{{v.email}}</a></td>
                          <td><a href="tel:{{v.contactno}}">{{v.contactno}}</a></td>
                        
                          <td>
                            {{v.package}} month 
                          </td>
                      
                          <td *ngIf="v.status == true" [routerLink]="['/venuesView',v._id]">
                            <i class="fa fa-eye blue-text"></i>
                          </td>
                          <td *ngIf="v.status == false"  [routerLink]="['/venuesView',v._id]">
                            <i class="fa fa-eye-slash red-text"></i>
                          </td>
                          <td  [routerLink]="['/venuesEdit', v._id]">
                            <i class="fa fa-pencil-alt orange-text"></i>
                          </td>
                          <td  (click)="Confirmvenuedelete(v._id)">
                            <i class="fa fa-trash red-text "></i>
                          </td>
                        </tr>
                      </ng-container>
                    </ng-container>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>

      </div>


      <!--end container-->
    </section>


    <!-- single image -->
    <div id="singleimg" class="modal">
      <div class="modal-content">

        <div class="col s12">
          <h5>images</h5>
        </div>
        <div class="row">

          <form (ngSubmit)="updateImage()">
            <input type="hidden" name="id" [(ngModel)]="id">
            <div class="row">
              <div class="col s6 m6 l6">
                <label>
                  <Strong></Strong>
                </label>
                <img class="d-block img-responsive img-thumbnail" width="150" height="150" src="{{p_img}}" />

              </div>
              <div class="col s6 m6 l6">

                <input type="file" class="p-20" required="required" (change)="imageUpload($event)" name="prod_img" placeholder="Add Image">
                <button type="submit" class="btn btn-default modal-close">Update</button> &nbsp;

              </div>
            </div>
            <br />
          </form>

        </div>
      </div>

    </div>


    <!-- other images -->
    <!-- <div id="otherimg" class="modal">
      <div class="modal-content">

        <div class="col s12">
          <h5>images</h5>
        </div>
        <div class="row">

          <form (ngSubmit)="updateOtherImage()">
            <input type="hidden" name="id" [(ngModel)]="id">

            <div class="form-group">
              <div class="row mr-t-10">
                <ng-container *ngFor="let o_image of o_img">
                  <div class="col s4 m4 l4 " id="info">
                    <div class="close-image" (click)="deleteimg(o_image)">
                      <i class=" fa fa-window-close"></i>
                    </div>
                    <img class="d-block img-resposive img-thumbnail" width="150" height="150" src="{{o_image}}" />
                  </div>
                </ng-container>
              </div>
            </div>
            <div class="form-group">

              <input type="file" multiple="multiple" class="form-control" required="required" (change)="otherImageUpload($event)" name="other_prod_img"
                placeholder="Add Image">

            </div>
            <button type="submit" class="btn btn-default modal-close">Update</button> &nbsp;

            <br />
          </form>

        </div>
      </div>

    </div> -->
    <script>
      $(document).ready(function () {
        $('.modal').modal();
      });
    </script>