<div id="main">
  <!-- START WRAPPER -->
  <div class="wrapper">
    <app-header></app-header>

    <section id="content" class="mr-t-20">
      <!--start container-->
      <div class="container">
        <div class="section">
          <!--card stats start-->
          <div id="card-stats">
            <div class="row">
              <div class="col s6 l6 m6">
                <div class="col s2 l2 m2 headding-icon dark-blue-back">
                  <i class="fa fa-bell"></i>
                </div>
                <div class="hedding-text p-l-80">
                  STOCK MANAGEMENT
                </div>
              </div>

              <form  (ngSubmit)="addStock()">
                <div class="col s12 l12 m12 mr-t-20 mr-b-m-30">
                  <div class="col s4 m4 l4">
                    <b> Product Name:</b>
                    <select [(ngModel)]="productvalue" name="productvalue" (change)="modelNameFetch(productvalue);">
                      <option disabled>--Select Product Name --</option>
                      <option *ngFor="let p of product" [value]="p._id" >{{p.name}}</option>
                    </select>
                    </div>
                    <div class="col s4 m4 l4 ">
                        <b> Model Name:</b>
                    <select [(ngModel)]="modelname" name="modelname">
                        <option disabled>--SelectModel Name --</option>
                        <option *ngFor="let model of final_model_data" [value]="model">{{model}}</option>
                    </select>
                   
                  </div>
                  <div class="input-field col s4 m4 l4 mr-t-20">
                    <input id="category" type="text" class="" [(ngModel)]="qty" name="qty">
                    <label for="category">Add QTY</label>
                   
                    <div class="right-align">
                        <button class="hedding-btn" type="submit ">ADD </button>
                      </div>
                    </div>
                  </div>
                
              </form>

            </div>
          </div>
          <!--card stats end-->

          <!--DataTables example Row grouping-->
          <div class="section">
            <div class="row ">
              <div class="col s12 card mr-t-50">
                <div class="col s3 right">
                  <input type="text" placeholder="Search" id="search" [(ngModel)]="term">
                </div>
                <table class="display mr-t-20 striped" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <!-- <th>No</th> -->
                      <th>No</th>
                      <th>Product Name</th>
                      <th>Model No</th>
                      <th>QTY</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let m of stock |filter:term ;let i =index ">
                      <!-- <td>{{i+1}}</td> -->
                      <td>{{i+1}}</td>
                      <th>
                        <b>{{m.name}}</b>
                      </th>
                      <td>{{m.model_no}}</td>
                      <td>{{m.qty}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end container-->
    </section>
  </div>
</div>
<script>
  $(document).ready(function () {
    // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
  });

</script>