<div id="main">
  <!-- START WRAPPER -->
  <div class="wrapper">
    <app-header></app-header>

    <section id="content" class="mr-t-20">
      <!--start container-->
      <div class="container">
        <div class="section">
          <!--card stats start-->
          <div id="card-stats">
            <div class="row">
              <div class="col s6 l6 m6">
                <div class="col s2 l2 m2 headding-icon dark-blue-back">
                  <i class="fa fa-bell"></i>
                </div>
                <div class="hedding-text p-l-80">
                  STOCK MANAGEMENT
                </div>
              </div>
              <div class="col s6 l6 m6 right-align">
                <button class="hedding-btn" (click)="printContent('view_stock')">Download Data </button>
              </div>

              <form #frm1="ngForm" (ngSubmit)="addStock()">
                <div class="col s12 l12 m12 mr-t-20 mr-b-m-30">
                  <div class="col s4 m4 l4">
                    <b> Product Name:</b>
                    <select [(ngModel)]="productvalue" name="productvalue" (change)="modelNameFetch(productvalue);" #productValue="ngModel" required
                      ngModel class="validate">
                      <option disabled>--Select Product Name --</option>
                      <option *ngFor="let p of product" [value]="p._id">{{p.name}}</option>
                    </select>
                    <div *ngIf="productValue?.touched">
                      <div class="red-text left" *ngIf="productValue.errors?.required">
                        Select Product Name Required*
                      </div>
                    </div>

                  </div>
                  <div class="col s4 m4 l4 ">
                    <b> Model Name:</b>
                    <select [(ngModel)]="modelname" name="modelname" #model="ngModel" (change)="modelDetail(modelname);" required ngModel class="validate">
                      <option disabled>--SelectModel Name --</option>
                      <option *ngFor="let model of final_model_data" [value]="model">{{model}}</option>
                    </select>
                    <div *ngIf="model?.touched">
                      <div class="red-text left" *ngIf="model.errors?.required">
                        Select Model No Required*
                      </div>
                    </div>
                  </div>
                  <div class="input-field col s4 m4 l4 mr-t-20">
                    <input id="category" type="text" class="" [(ngModel)]="qty" name="qty" #qtys="ngModel" pattern="[0-9]+" required ngModel
                      class="validate">
                    <label for="category">Add QTY</label>
                    <div *ngIf="qtys?.touched">
                      <div class="red-text left" *ngIf="qtys.errors?.required">
                        Qty Required*
                      </div>
                      <div class="red-text left" *ngIf="qtys.errors?.pattern">
                        Enter Valid Qty*
                      </div>
                    </div>
                    <div class="right-align">
                      <button class="btn btn-primary" [disabled]="frm1.invalid" type="submit ">ADD </button>
                    </div>
                  </div>
                </div>

              </form>

            </div>
          </div>
          <!--card stats end-->

          <!--DataTables example Row grouping-->
          <div class="section">
            <div class="row" id="view_stock">
              <div class="col s12 card mr-t-50">
                <div class="col s3 right">
                  <input type="text" placeholder="Search" id="search" [(ngModel)]="term">
                </div>
                <table class="display mr-t-20 striped" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <!-- <th>No</th> -->
                      <th>No</th>
                      <th>Product Name</th>
                      <th>Model No</th>
                      <th>Size</th>
                      <th>Grade</th>
                      <th>QTY</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let s of stock_model |filter:term ;let i =index ">
                      <ng-container *ngFor="let p of product">
                        <tr *ngIf="s.product_id == p._id">
                          <!-- <td>{{i+1}}</td> -->
                          <td>{{i+1}}</td>
                          <th>
                            <b>{{p.name}}</b>
                          </th>
                          <td>{{s.particular}}</td>
                          <td>{{s.size}}</td>
                          <td>{{s.grade}}</td>
                          <td>{{s.qty}}</td>
                          <td data-target="edit_stock" class=" modal-trigger" (click)="getStockById(p._id, s.particular) ">
                            <i class="fa fa-pencil-alt orange-text"></i>
                          </td>
                        </tr>
                      </ng-container>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end container-->
    </section>
  </div>
</div>
<!-- edit stock model -->

<div id="edit_stock" class="modal">
  <div class="modal-content">

    <div class="col s12">
      <h5> Stock Edit</h5>
    </div>
    <div class="col s12">
      <form #frm2="ngForm" (ngSubmit)="editsotck()">
        <table>
          <tbody>
            <th>Model No:</th>
            <td> {{edit_particular}}</td>
            <th>Qty:</th>
            <td>
              <input type="text" [(ngModel)]="edit_qty" name="edit_qty" #qtys="ngModel" pattern="[0-9]+" required ngModel class="validate">
              <div *ngIf="qtys?.touched">
                <div class="red-text left" *ngIf="qtys.errors?.required">
                  Qty Required*
                </div>
                <div class="red-text left" *ngIf="qtys.errors?.pattern">
                  Enter Valid Qty*
                </div>
              </div>
            </td>
            <td>
              <button type="submit" class="btn btn-primary modal-close" [disabled]="frm2.invalid"> Update</button>
            </td>
          </tbody>
        </table>
      </form>
    </div>
  </div>

</div>
<script>
  $(document).ready(function () {
    // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
  });

</script>