<div id="main">
  <!-- START WRAPPER -->
  <div class="wrapper">
    <app-header></app-header>

    <section id="content" class="mr-t-20">
      <!--start container-->
      <div class="container">
        <div class="section">
          <!--card stats start-->
          <div id="card-stats">
            <div class="row">
              <div class="col s6 l6 m6">
                <div class="col s2 l2 m2 headding-icon dark-blue-back">
                  <i class="fa fa-shopping-cart"></i>
                </div>
                <div class="hedding-text p-l-80">
                  Order Details
                </div>
              </div>

            </div>
          </div>
          <!--card stats end-->

          <!--DataTables example Row grouping-->
          <div class="section">
            <div class="row ">
              <div class="col s12 card mr-t-50">

                <div class="container col l6 m6 s6">
                  <form #frm="ngForm" (ngSubmit)="updateOrder()">
                    <input type="hidden" name="id" [(ngModel)]="o_id">
                    <div class="form-group">
                      <label>
                        <Strong>Order Discount (%):</Strong>
                      </label>
                      <input type="number" class="form-control" minlength="0" min="0" #disc="ngModel" pattern="[0-9]+" required ngModel class="validate"
                        placeholder="Enter Order Wise Discount" id="o_discount" name="o_discount" [(ngModel)]="o_discount">
                      <div *ngIf="disc?.touched">
                        <div class="red-text left" *ngIf="disc.errors?.required">
                          Discount Required*
                        </div>
                        <div class="red-text left" *ngIf="disc.errors?.pattern">
                          Discount value is Invalid*
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>
                        <Strong>Shipping Charges (&#x20b9;):</Strong>
                      </label>
                      <input type="text" class="form-control" #ship="ngModel" pattern="[0-9]+" required ngModel class="validate" placeholder="Enter Shipping charges"
                        id="shipping" name="shipping" [(ngModel)]="shipping">
                      <div *ngIf="ship?.touched">
                        <div class="red-text left" *ngIf="ship.errors?.required">
                          Shipping Charges Required*
                        </div>
                        <div class="red-text left" *ngIf="ship.errors?.pattern">
                          Shipping charges value is Invalid*
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col s6 m6 l6">
                        <label>
                          <Strong>Other Charges Detail:</Strong>
                        </label>
                        <input type="text" class="form-control" #charg="ngModel" required ngModel class="validate" id="charge" name="charge"
                          [(ngModel)]="charge">
                        <div *ngIf="charg?.touched">
                          <div class="red-text left" *ngIf="charg.errors?.required">
                            Charges Detail Required*
                          </div>

                        </div>
                      </div>
                      <div class="form-group col s6 m6 l6">
                        <label>
                          <Strong>Other Charges (&#x20b9;):</Strong>
                        </label>
                        <input type="text" class="form-control" #other="ngModel" pattern="[0-9]+" required ngModel class="validate" placeholder="Enter Other Charges"
                          id="other_charge" name="other_charge" [(ngModel)]="other_charge">
                        <div *ngIf="other?.touched">
                          <div class="red-text left" *ngIf="other.errors?.required">
                            Other Charges Required*
                          </div>
                          <div class="red-text left" *ngIf="other.errors?.pattern">
                            Other charges value is Invalid*
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>
                        <Strong>Delivery/ PickUP Date:</Strong>
                      </label>
                      <input type="date" class="form-control" #dt="ngModel" required ngModel class="validate" placeholder="Enter Name" id="d_date"
                        name="d_date" [(ngModel)]="d_date">
                      <div *ngIf="dt?.touched">
                        <div class="red-text left" *ngIf="dt.errors?.required">
                          Delivery Date Required*
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>
                        <Strong>Time:</Strong>
                      </label>
                      <input type="time" class="form-control" #dtime="ngModel" required ngModel class="validate" placeholder="Enter Name" id="d_time"
                        name="d_time" [(ngModel)]="d_time">
                      <div *ngIf="dtime?.touched">
                        <div class="red-text left" *ngIf="dtime.errors?.required">
                          Delivery Time Required*
                        </div>

                      </div>
                    </div>
                    <div class="form-group">
                      <label>
                        <Strong>Payment Status:</Strong>
                      </label>
                      <select [(ngModel)]="paymentValue" name="paymentValue" #status="ngModel" required ngModel class="validate">
                        <option id="Pending" name="Pending" value="Pending">Pending</option>
                        <option id="Received" name="Received" value="Received">Received</option>
                      </select>
                      <div *ngIf="status?.touched">
                        <div class="red-text left" *ngIf="status.errors?.required">
                          Please Select Payment Status*
                        </div>

                      </div>
                    </div>
                    <div class="form-group">
                      <label>
                        <Strong>Method:</Strong>
                      </label>
                      <select [(ngModel)]="methodvalue" name="methodvalue" #methods="ngModel" required ngModel class="validate">
                        <option id="pickup" name="pickup" value="Pickup">Pickup</option>
                        <option id="delivery" name="delivery" value="Delivery">Delivery</option>
                      </select>
                      <div *ngIf="methods?.touched">
                        <div class="red-text left" *ngIf="methods.errors?.required">
                          Please Select Delivery Method*
                        </div>

                      </div>
                    </div>
                    <div class="form-group">
                      <label>
                        <Strong>Status:</Strong>
                      </label>
                      <select [(ngModel)]="statusvalue" name="statusvalue" #st="ngModel" required ngModel class="validate">
                        <option id="new" name="Received" class="blue-text" value="Received">Received</option>
                        <option id="inprocess" name="in process" class="orange-text" value="In Process">In Process</option>
                        <option id="completed" class="green-text" name="completed" value="completed">Completed</option>
                        <option id="completed" class="red-text" name="Cancel" value="Cancel">Cancel</option>
                      </select>
                      <div *ngIf="st?.touched">
                        <div class="red-text left" *ngIf="st.errors?.required">
                          Please Select Status Value*
                        </div>

                      </div>
                    </div>
                    <br />
                    <br />
                    <button type="submit" class="btn btn-primary" [disabled]="frm.invalid">Update</button>
                    <br />
                  </form>
                  <br />
                </div>
                <div class="col l6 m6 s6">
                  <form (ngSubmit)="updateOrder()" enctype="multipart/form-data">
                    <table class="table table-bordered striped" id="dataTable" width="100%" cellspacing="0">
                      <tr class="card-header">
                        <th>Products</th>
                        <th>Model No</th>
                        <th>Qty</th>
                        <th>Unit Price (Rs.)</th>
                        <th>Discount (%)</th>
                      </tr>
                      <tr *ngFor="let p of product_detail; let i of index">
                        <!-- <input type="number" class="form-control col-lg-6" #productName="ngModel" pattern="[a-zA-Z][a-zA-Z ]+"
                          required ngModel class="validate" placeholder="Enter product_id" id="product_id" name="product_id" value="{{product_id}}"> -->
                        <td hidden>{{p.product_id}}</td>
                        <td>{{p.prod_name}}</td>
                        <td>{{p.particular}}</td>
                        <td> {{p.qty}} </td>
                        <td> &#x20b9; {{p.price}}</td>
                        <td>
                          <input type="number" class="form-control col-lg-4" minlength="0" #pdisc="ngModel" min="0" pattern="[0-9]+" required ngModel
                            class="validate" placeholder="Enter Discount" id="p_discount" name="p_discount" value="{{p_discount}}"
                            [(ngModel)]="p.p_discount">
                          <div *ngIf="pdisc?.touched">
                            <div class="red-text left" *ngIf="pdisc.errors?.required">
                              Enter Discount Value*
                            </div>
                            <div class="red-text left" *ngIf="disc.errors?.pattern">
                              Discount value is Invalid*
                            </div>

                          </div>
                        </td>
                      </tr>
                    </table>
                  </form>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>

      <!--end container-->
    </section>


  </div>
</div>