<div id="main">
  <!-- START WRAPPER -->
  <div class="wrapper">
<app-header></app-header>

<section id="content">
  <!--start container-->
  <div class="container">
    <div class="section">
          <!--card stats start-->
          <div id="card-stats">
              <div class="row">
                <div class="col s12 m6 l3">
                  <div class="card">
                    <div class="padding-4">
                      <div class="col s4 m4">
                        <div class="card-icon orange-back">
                          <i class="fa fa-shopping-cart"></i>
                        </div>
                      </div>
                      <div class="col s8 m8 right-align card-text-contain">
                        <p class="no-margin card-text">New Order</p>
                        <h5 class="mb-0 card-text-total">80</h5>
                        
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col s12 m6 l3">
                    <div class="card">
                      <div class="padding-4">
                        <div class="col s4 m4">
                          <div class="card-icon green-back">
                            <i class="fa fa-user-cog"></i>
                          </div>
                        </div>
                        <div class="col s8 m8 right-align card-text-contain">
                          <p class="no-margin card-text">New Enquiries</p>
                          <h5 class="mb-0 card-text-total">80</h5>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col s12 m6 l3">
                      <div class="card">
                        <div class="padding-4">
                          <div class="col s4 m4">
                            <div class="card-icon red-back">
                              <i class="fa fa-shopping-cart"></i>
                            </div>
                          </div>
                          <div class="col s8 m8 right-align card-text-contain">
                            <p class="no-margin card-text">Pedding Orders</p>
                            <h5 class="mb-0 card-text-total">80</h5>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col s12 m6 l3">
                        <div class="card">
                          <div class="padding-4">
                            <div class="col s4 m4">
                              <div class="card-icon blue-back">
                                <i class="fa fa-shopping-cart"></i>
                              </div>
                            </div>
                            <div class="col s8 m8 right-align card-text-contain">
                              <p class="no-margin card-text">Completed Order </p>
                              <h5 class="mb-0 card-text-total">80</h5>
                              
                            </div>
                          </div>
                        </div>
                      </div>
                        
              </div>
            </div>
            <!--card stats end-->
     
     <!--DataTables example Row grouping-->
      <div class="section">
        <div class="row ">
          <div class="col s12 card mr-t-50">
            <div class="col s3 m3">  
            <div class="col s3 m3 section-icon orange-back">
                  <i class="fa fa-shopping-cart"></i>
                </div>
                <div class="col s9 m9 section-text">
                  New Order
                </div>
              </div>
            <table id="data-table-row-grouping" class="display mr-t-90" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Name</th>
                  <th>Company</th>
                  <th>Order Date</th>
                  <th>Order Total</th>
                  <th colspan="3">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>paresh Shah</td>
                  <td>paresh Shah</td>
                  <td>12/08/2018</td>
                  <td>Rs.1,00,000</td>
                  <td><i class="fa fa-eye blue-text"></i></td>
                  <td><i class="fa fa-check green-text"></i></td>
                  <td><i class="fa fa-pencil-alt orange-text"></i></td>  
                </tr>
                <tr>
                    <td>1</td>
                    <td>paresh Shah</td>
                    <td>paresh Shah</td>
                    <td>12/08/2018</td>
                    <td>Rs.1,00,000</td>
                    <td><i class="fa fa-eye blue-text"></i></td>
                    <td><i class="fa fa-check green-text"></i></td>
                    <td><i class="fa fa-pencil-alt orange-text"></i></td>  
                  </tr>
                  <tr>
                      <td>1</td>
                      <td>paresh Shah</td>
                      <td>paresh Shah</td>
                      <td>12/08/2018</td>
                      <td>Rs.1,00,000</td>
                      <td><i class="fa fa-eye blue-text"></i></td>
                      <td><i class="fa fa-check green-text"></i></td>
                      <td><i class="fa fa-pencil-alt orange-text"></i></td>  
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>paresh Shah</td>
                        <td>paresh Shah</td>
                        <td>12/08/2018</td>
                        <td>Rs.1,00,000</td>
                        <td><i class="fa fa-eye blue-text"></i></td>
                        <td><i class="fa fa-check green-text"></i></td>
                        <td><i class="fa fa-pencil-alt orange-text"></i></td>  
                      </tr>
                      <tr>
                          <td>1</td>
                          <td>paresh Shah</td>
                          <td>paresh Shah</td>
                          <td>12/08/2018</td>
                          <td>Rs.1,00,000</td>
                          <td><i class="fa fa-eye blue-text"></i></td>
                          <td><i class="fa fa-check green-text"></i></td>
                          <td><i class="fa fa-pencil-alt orange-text"></i></td>  
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>paresh Shah</td>
                            <td>paresh Shah</td>
                            <td>12/08/2018</td>
                            <td>Rs.1,00,000</td>
                            <td><i class="fa fa-eye blue-text"></i></td>
                            <td><i class="fa fa-check green-text"></i></td>
                            <td><i class="fa fa-pencil-alt orange-text"></i></td>  
                          </tr>

              </tbody>
            </table>
          </div>
      <!-- Enquiries -->

      <div class="col s12 card mr-t-50">
          <div class="col s3 m3">  
          <div class="col s3 m3 section-icon green-back">
                <i class="fa fa-user-cog"></i>
              </div>
              <div class="col s9 m9 section-text">
                New Enquiries
              </div>
            </div>
          <table id="data-table-row-grouping" class="display mr-t-90" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>No</th>
                <th>Name</th>
                <th>Company</th>
                <th>Order Date</th>
                <th>Order Total</th>
                <th colspan="3">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>paresh Shah</td>
                <td>paresh Shah</td>
                <td>12/08/2018</td>
                <td>Rs.1,00,000</td>
                <td><i class="fa fa-eye blue-text"></i></td>
                <td><i class="fa fa-check green-text"></i></td>
                <td><i class="fa fa-pencil-alt orange-text"></i></td>  
              </tr>
              <tr>
                  <td>1</td>
                  <td>paresh Shah</td>
                  <td>paresh Shah</td>
                  <td>12/08/2018</td>
                  <td>Rs.1,00,000</td>
                  <td><i class="fa fa-eye blue-text"></i></td>
                  <td><i class="fa fa-check green-text"></i></td>
                  <td><i class="fa fa-pencil-alt orange-text"></i></td>  
                </tr>
                <tr>
                    <td>1</td>
                    <td>paresh Shah</td>
                    <td>paresh Shah</td>
                    <td>12/08/2018</td>
                    <td>Rs.1,00,000</td>
                    <td><i class="fa fa-eye blue-text"></i></td>
                    <td><i class="fa fa-check green-text"></i></td>
                    <td><i class="fa fa-pencil-alt orange-text"></i></td>  
                  </tr>
                  <tr>
                      <td>1</td>
                      <td>paresh Shah</td>
                      <td>paresh Shah</td>
                      <td>12/08/2018</td>
                      <td>Rs.1,00,000</td>
                      <td><i class="fa fa-eye blue-text"></i></td>
                      <td><i class="fa fa-check green-text"></i></td>
                      <td><i class="fa fa-pencil-alt orange-text"></i></td>  
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>paresh Shah</td>
                        <td>paresh Shah</td>
                        <td>12/08/2018</td>
                        <td>Rs.1,00,000</td>
                        <td><i class="fa fa-eye blue-text"></i></td>
                        <td><i class="fa fa-check green-text"></i></td>
                        <td><i class="fa fa-pencil-alt orange-text"></i></td>  
                      </tr>
                      <tr>
                          <td>1</td>
                          <td>paresh Shah</td>
                          <td>paresh Shah</td>
                          <td>12/08/2018</td>
                          <td>Rs.1,00,000</td>
                          <td><i class="fa fa-eye blue-text"></i></td>
                          <td><i class="fa fa-check green-text"></i></td>
                          <td><i class="fa fa-pencil-alt orange-text"></i></td>  
                        </tr>

            </tbody>
          </table>
        </div>
  
          <!-- Enquiries end -->
    </div>
      </div>
    </div>
  
  </div>
  <!--end container-->
</section>


</div>
</div>