<div id="main">
  <!-- START WRAPPER -->
  <div class="wrapper">
    <app-header></app-header>

    <section id="content" class="mr-t-20">
      <!--start container-->
      <div class="container">
        <div class="section">
          <!--card stats start-->
          <div id="card-stats">
            <div class="row">
              <div class="col s6 l6 m6">
                <div class="col s2 l2 m2 headding-icon dark-blue-back">
                  <i class="fa fa-shopping-cart"></i>
                </div>
                <div class="hedding-text p-l-80">
                  Order Details
                </div>
              </div>
              <div class="col s6 l6 m6 right-align">
                <button [routerLink]="['/editorder',_id]" class="hedding-btn-2">Edit </button>

                <button class="hedding-btn">Download Data </button>
              </div>

            </div>
          </div>
          <!--card stats end-->

          <!--DataTables example Row grouping-->
          <div class="section">
            <div class="row ">
              <div class="col s12 card mr-t-50">

                <table class=" border-bottom striped" algin="center" width="100%" cellspacing="0">
                  <tbody>
                    <div class="col s6 m6 l6 ">

                      <tr>
                        <th>
                          <b> Customer Name: </b>
                        </th>
                        <td class="cust_name">
                          <a data-target="view_o_dealer" class="modal-trigger">{{customername}}</a>
                        </td>
                      </tr>
                      <tr>
                        <th>
                          <b> Order Discount: </b>
                        </th>
                        <td>{{o_discount}} % </td>
                      </tr>
                      <tr>
                        <th>
                          <b> Order Date: </b>
                        </th>
                        <td>{{o_date}}</td>
                      </tr>
                      <tr>
                        <th>
                          <b> Delivery/ PickUP Date: </b>
                        </th>
                        <td> {{d_date}}</td>
                      </tr>
                      <tr>
                        <th>
                          <b> Time: </b>
                        </th>
                        <td>{{d_time}}</td>
                      </tr>
                    </div>
                    <div class="col s6 m6 l6">
                      <tr>
                        <th>
                          <b> Address: </b>
                        </th>
                        <td>{{d_address}}</td>
                      </tr>
                      <tr>
                        <th>
                          <b> City : </b>
                        </th>
                        <td>{{d_city}}</td>
                      </tr>
                      <tr>
                        <th>
                          <b> State: </b>
                        </th>
                        <td>{{d_state}}</td>
                      </tr>
                      <tr>
                        <th>
                          <b> Method:</b>
                        </th>
                        <td>{{method}}</td>
                      </tr>
                      <tr>
                        <th>
                          <b> Status:</b>
                        </th>
                        <td>{{status}}</td>
                      </tr>
                    </div>
                  </tbody>
                </table>


                <div class="col l12 m12 s12 card ">
                  <table class="striped  prod_table" id="dataTable" width="100%" cellspacing="0">
                    <tr class="card-header">
                      <th>Products</th>
                      <th>Model No</th>
                      <th>Qty</th>
                      <th *ngIf="isGujarat  == false">IGST </th>
                      <th *ngIf="isGujarat  == true">CGST </th>
                      <th *ngIf="isGujarat  == true">SGST </th>
                      <th>Unit Price (&#x20b9;)</th>
                      <th>Amount</th>
                      <th>Discount</th>
                      <th>Total(&#x20b9;) </th>
                    </tr>
                    <tr *ngFor="let p of product_detail" class="b-b">
                      <td>{{p.prod_name}}</td>
                      <td>{{p.particular}}</td>
                      <td>{{p.qty}} </td>
                      <td *ngIf="isGujarat  == false">{{p.igst_no}} %</td>
                      <td *ngIf="isGujarat  == true">{{p.sgst_no}} %</td>
                      <td *ngIf="isGujarat  == true">{{p.cgst_no}} %</td>
                      <td>{{p.price}}</td>
                      <td>{{(p.price * p.qty)}}</td>
                      <td>{{p.p_discount}} %</td>
                      <td>
                        <b>{{[(p.price * p.qty)] - [ (p.price * p.qty) * p.p_discount] / 100 }}</b>
                      </td>
                    </tr>
                  </table>
                  <!-- calculation -->
                  <table class="table  mr-t-50" id="dataTable" width="100%" cellspacing="0">
                    <div class="col s6 m6 l6">
                      <tr>
                        <th class="card-header right-align ">Sub Total:</th>
                        <td class="center-align "> &#x20b9; {{sub_total}}</td>
                      </tr>
                      <tr>
                        <th class="card-header right-align">(-)Order Discount ({{ o_discount }} %):</th>
                        <td class="center-align"> &#x20b9; {{o_discount_total}}</td>
                      </tr>
                      <tr *ngIf="isGujarat  == true">
                        <th class="card-header right-align ">(+)CGST:</th>
                        <td class="center-align "> &#x20b9; {{cgst_total}}</td>
                      </tr>
                      <tr *ngIf="isGujarat  == true">
                        <th class="card-header right-align ">(+)SGST:</th>
                        <td class="center-align "> &#x20b9; {{sgst_total}}</td>
                      </tr>
                    </div>
                    <div class="col s6 l6 m6">
                      <tr *ngIf="isGujarat  == false">
                        <th class="card-header right-align ">(+)IGST:</th>
                        <td class="center-align "> &#x20b9; {{igst_total}}</td>
                      </tr>
                      <tr>
                        <th class="card-header right-align">Shipping Charges:</th>
                        <td class="card-header center-align">
                          &#x20b9; {{shipping}}
                        </td>
                      </tr>
                      <tr>
                        <th class="card-header right-align">{{other Charges}}:</th>
                        <td class="card-header center-align">
                          &#x20b9; {{charges}}
                        </td>
                      </tr>
                    </div>
                    <tr>
                      <th class="card-header right-align">Grand Total:</th>
                      <td class="card-header center-align">
                        <b> &#x20b9; {{grand_total}} </b>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



      <!-- view dealer -->
      <div id="view_o_dealer" class="modal">
        <div class="modal-content">

          <div class="col s12">
            <h5>Details</h5>
          </div>
          <div class="col s12">
            <table id="" class="display mr-t-20 striped" cellspacing="0" width="100%">
              <tbody>
                <tr>
                  <th>Name</th>
                  <td>{{customername}}</td>
                </tr>
                <tr>
                  <th>Company</th>
                  <td>{{company_name}}</td>
                </tr>
                <tr>
                  <th>Mail ID</th>
                  <td>
                    <a href="mailto:{{email}}">{{email}}</a>
                  </td>
                </tr>
                <tr>
                  <th>Contact No.</th>
                  <td>{{mobile}}</td>
                </tr>
                <tr>
                  <th>Discount #</th>
                  <td>{{d_discount}} %</td>

                </tr>
                <tr>
                  <th>GST</th>
                  <td>{{gst_no}}</td>

                </tr>
                <tr>
                  <th>Type</th>
                  <td>{{type}}</td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>

      </div>
      <!--end container-->
    </section>


  </div>
</div>


<script>
  $(document).ready(function () {
    $('.modal').modal();
  });
</script>