<div id="main">
  <!-- START WRAPPER -->
  <div class="wrapper">
    <app-header></app-header>

    <section id="content" class="mr-t-20">
      <!--start container-->
      <div class="container">
        <div class="section">
          <!--card stats start-->
          <div id="card-stats">
            <div class="row">
              <div class="col s6 l6 m6">
                <div class="col s2 l2 m2 headding-icon dark-blue-back">
                  <i class="fa fa-shopping-cart"></i>
                </div>
                <div class="hedding-text p-l-80">
                  Order Details
                </div>
              </div>
              <div class="col s6 l6 m6 right-align">

                <button class="hedding-btn">Download Data </button>
              </div>

            </div>
          </div>
          <!--card stats end-->

          <!--DataTables example Row grouping-->
          <div class="section">
            <div class="row ">
              <div class="col s12 card mr-t-50">

                <div class="col s6 m6 l6 ">
                  <table class="b-r striped" algin="center" width="100%" cellspacing="0">
                    <tbody>
                      <tr>
                        <th>
                          <strong> Customer Name: </strong>
                        </th>
                        <td class="cust_name">
                          <div data-target="view_o_dealer" class="modal-trigger">{{customername}}</div>
                        </td>
                      </tr>
                      <tr>
                        <th>
                          <strong> Order Discount: </strong>
                        </th>
                        <td>{{o_discount}} % </td>
                      </tr>
                      <tr>
                        <th>
                          <strong> Order Date: </strong>
                        </th>
                        <td>{{o_date}}</td>
                      </tr>
                      <tr>
                        <th>
                          <strong> Delivery/ PickUP Date: </strong>
                        </th>
                        <td> {{d_date}}</td>
                      </tr>
                      <tr>
                        <th>
                          <strong> Time: </strong>
                        </th>
                        <td>{{d_time}}</td>
                      </tr>
                      <tr>
                        <th>
                          <strong> Method:</strong>
                        </th>
                        <td>{{method}}</td>
                      </tr>
                      <tr>
                        <th>
                          <strong> Status:</strong>
                        </th>
                        <td>{{status}}</td>
                      </tr>
                    </tbody>
                  </table>

                </div>

                <div class="col l6 m6 ">

                  <table class="striped" id="dataTable" width="100%" cellspacing="0">
                    <tr class="card-header">
                      <th>Products</th>
                      <th>Qty</th>
                      <th>Unit Price (&#x20b9;)</th>
                      <th>Amount</th>
                      <th>Discount</th>
                      <th>Total(&#x20b9;) </th>


                    </tr>
                    <tr *ngFor="let p of product_detail" class="b-b">
                      <td>{{p.prod_name}}</td>
                      <td>{{p.qty}} </td>
                      <td>{{p.price}}</td>
                      <td>{{(p.price * p.qty)}}</td>
                      <td>{{p.p_discount}} %</td>
                      <td>
                        <b>{{[(p.price * p.qty)] - [(p.price * p.qty) * p.p_discount] / 100 }}</b>
                      </td>
                    </tr>


                  </table>

                  <table class="table table-bordered mr-t-50" id="dataTable" width="100%" cellspacing="0">
                    <tr>
                      <th class="card-header">Sub Total:</th>
                      <td> &#x20b9; {{sub_total}}</td>
                    </tr>
                    <tr>
                      <th class="card-header">Order Discount ({{ o_discount }} %):</th>
                      <td> &#x20b9; {{o_discount_total}}</td>
                    </tr>
                    <tr>
                      <th class="card-header">Grand Total:</th>
                      <td class="card-header">
                        <b> &#x20b9; {{grand_total}} </b>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



      <!-- view dealer -->
      <div id="view_o_dealer" class="modal">
        <div class="modal-content">

          <div class="col s12">
            <h5>Details</h5>
          </div>
          <div class="col s12">
            <table id="" class="display mr-t-20 striped" cellspacing="0" width="100%">
              <tbody>
                <tr>
                  <th>Name</th>
                  <td>{{customername}}</td>
                </tr>
                <tr>
                  <th>Company</th>
                  <td>{{company_name}}</td>
                </tr>
                <tr>
                  <th>Mail ID</th>
                  <td>
                    <a href="mailto:{{email}}">{{email}}</a>
                  </td>
                </tr>
                <tr>
                  <th>Contact No.</th>
                  <td>{{mobile}}</td>
                </tr>
                <tr>
                  <th>Discount #</th>
                  <td>{{d_discount}} %</td>

                </tr>
                <tr>
                  <th>GST</th>
                  <td>{{gst_no}}</td>

                </tr>
                <tr>
                  <th>Type</th>
                  <td>{{type}}</td>

                </tr>
                <tr>
                  <th>Address</th>
                  <td>{{address}}</td>

                </tr>
              </tbody>
            </table>

          </div>
        </div>

      </div>
      <!--end container-->
    </section>


  </div>
</div>


<script>
  $(document).ready(function () {
    $('.modal').modal();
  });
</script>